.results {
  padding: 1px;
}

table td:nth-child(2) { text-align: end; }
table td:nth-child(3) { text-align: end; }
table td:nth-child(4) { text-align: end; }

/* table td { border: 1px solid black; } */

.teamcol {
  width: 8em;
  left: 0;
  top: auto;
}

.settings-container {
  margin-top: 5px; /* Adjust the value as needed */
}
