<label for='teams'>Choose a team:&nbsp;</label>
<select name="teams" id="teams" [(ngModel)]="selectedTeam">
  <option *ngFor='let team of teams'>{{ team }}</option>
  <option>All</option>
</select>

<div class="col-md-3">
  <hr>
</div>
<table class="table table-borderless">
  <div *ngFor='let match of matches'>
    <tr *ngIf="displayRow(match)">
      <td class="teamcol"></td>
      <td *ngFor='let set of match.sets; let i = index'>
        <!-- <button mat-flat-button color="primary" (click)="editSet(match, set, swapTeams(match))"> -->
        <button type="button" class="btn btn-primary" (click)="editSet(match, set, swapTeams(match))">
          S{{ set.setNo }}
        </button>
      </td>
    </tr>
    <tr *ngIf="displayRow(match)">
      <td class="teamcol"> {{getTeam1(match)}}</td>
      <td *ngFor='let set of match.sets; let i = index'>
        <div *ngIf="!swapTeams(match)">
          {{ set.t1_points }}
        </div>
        <div *ngIf="swapTeams(match)">
          {{ set.t2_points }}
        </div>

      </td>
    </tr>

    <tr *ngIf="displayRow(match)">
      <td class="teamcol">{{getTeam2(match)}}</td>
      <td *ngFor='let set of match.sets; let i = index'>
        <div *ngIf="!swapTeams(match)">
          {{ set.t2_points }}
        </div>
        <div *ngIf="swapTeams(match)">
          {{ set.t1_points }}
        </div>
      </td>
    </tr>
    <div class="col-md-3">
      <hr *ngIf="displayRow(match)">
    </div>
  </div>
</table>
