.results {
  padding: 1px;
}

table td:nth-child(2) { text-align: end; }
table td:nth-child(3) { text-align: end; }
table td:nth-child(4) { text-align: end; }

/* table td { border: 1px solid black; } */

.teamcol {
  width: 10em;
  left: 0;
  top: auto;
  border-top-width: 1px;
  /*only relevant for first row*/
  margin-top: -1px;
  /*compensate for top border*/
}
