<p>Group Standing</p>
<button (click)="test()">Test</button>
<hr>

<div *ngFor='let group of stats.groups'>
  <h3>Group {{group.groupName}}</h3>

  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope='col' class='teamcol' title='Team Name'>Name</th>
        <th scope='col' title='Matches Played'>M</th>
        <th scope='col' title='Wins Total'>W</th>
        <th scope='col' title='Losses Total'>L</th>
        <th scope='col' title='Points accumulated'>Pts</th>
        <th scope='col' title='Set Ratio: Won_Sets / Lost_Sets*'>Set%</th>
        <th scope='col' title='Points Scored'>Pt S</th>
        <th scope='col' title='Points Given'>Pt L</th>
        <!-- <th title = 'Rank within group: Match points .. set ratio .. set point diff'>Rank</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let team of group.teams'>
        <td class='teamcol' title={{team.rank}}>{{ team.teamName }}</td>
        <td>{{ team.matchCount }}</td>
        <td>{{ team.winCount }}</td>
        <td>{{ team.lossCount }}</td>
        <td>{{ team.groupPointCount }}</td>
        <td>{{ team.setRatio }}</td>
        <td>{{ team.pointsScored }}</td>
        <td>{{ team.pointsGiven }}</td>
        <!-- <td>{{ team.rank }}</td> -->
      </tr>
    </tbody>
  </table>
  <br>
</div>
<!-- <table mat-table [dataSource]="match" class="'mat-elevation-z6">
  <ng-container matColumnDef="group">
    <th mat-header-cell *matHeaderCellDef> Group </th>
    <td mat-cell *matCellDef="let match"> {{match.group}} </td>
  </ng-container>

  <ng-container matColumnDef="team1">
    <th mat-header-cell *matHeaderCellDef> Team 1 </th>
    <td mat-cell *matCellDef="let match"> {{match.team1}} </td>
  </ng-container>

  <ng-container matColumnDef="team2">
    <th mat-header-cell *matHeaderCellDef> Team 2 </th>
    <td mat-cell *matCellDef="let match"> {{match.team2}} </td>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</table> -->
