table {
  width: auto;
}

.mat-column-group {
  width: 2em;
}

.mat-column-team1 {
  width: 10em;
}

.mat-column-team1 {
  width: 10em;
}

.teamcol {
  width: 10em;
  left: 0;
  top: auto;
  /*only relevant for first row*/
  margin-top: -1px;
  /*compensate for top border*/
}

table td:nth-child(5) { text-align: end; }
table td:nth-child(6) { text-align: end; }
table td:nth-child(7) { text-align: end; }
table td:nth-child(8) { text-align: end; }

